@import url("https://fonts.googleapis.com/css2?family=Abel&family=Single+Day&display=swap");

body {
  font-family: "Single Day", cursive;
  background-color: black;
}

p {
  font-family: "Abel", sans-serif;
}

#Hero-Section {
  background-image: url("../img/codigo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.foto{
  width: 30%;
  height: 30%;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
